# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
*.log

# Production
build/
dist/
.next/
out/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite

# Misc
.cache/
.turbo/

.vercel
.env*.local

# Android build files
android-app/.gradle/
android-app/build/
android-app/app/build/
android-app/local.properties
android-app/*.keystore
frontend/release/
frontend/release-packager/
frontend/release-irsaliye/
